$text-field-enclosed-prepend-append-margin-top: 8px;
$text-field-enclosed-details-padding: 0 18px;
$text-field-solo-control-min-height: 44px;
$text-field-filled-full-width-outlined-slot-min-height: 44px